:root{
    --backgroundColor: #CFD8DC;
    --switchBackground: #263238;
    --switchButton: #CFD8DC;
    --switch-background-themeDark: #CFD8DC;
    --switch-hover: #607D8B;
    --timerTextColor: #263238;
    --buttonBackgroundColour: #455A64;
    --buttonBorderColour: #263238;
    --buttonFontColour: #CFD8DC;

    --backgroundColor-Light: #CFD8DC;
    --backgroundColor-Dark: #263238;
    --switchBackground-Light: #263238;
    --switchBackground-Dark: #CFD8DC;
    --switchButton-Light: #CFD8DC;
    --switchButton-Dark: #263238;
    --switch-background-Light: #263238;
    --switch-background-Dark: #CFD8DC;
    --switch-hover-Light: #607D8B;
    --switch-hover-Dark: #78909C;
    --timerTextColor-Light: #263238;
    --timerTextColor-Dark: #CFD8DC;
    --buttonBackgroundColour-Light: #455A64;
    --buttonBackgroundColour-Dark: #90A4AE;
    --buttonBorderColour: #263238;
    --buttonFontColour-Light: #CFD8DC;
    --buttonFontColour-Dark: #37474F;
}

body {
    display: flex;
    background: var(--backgroundColor-Light);
    transition: 0.2s;
}
body.dark{
    background: var(--backgroundColor-Dark);
}

.content{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.stopwatchDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.stopwatchText{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15vh;
    text-align: center;
    color: var(--timerTextColor-Light);
    transition: 0.2s;
}
.stopwatchText.dark{
    color: var(--timerTextColor-Dark);
}

.buttonsRow{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
}

.stopwatchButton{
    font-size: 4vh;
    background-color: var(--buttonBackgroundColour-Light);
    color: var(--buttonFontColour-Light);
    border: 0px;
    border-radius: 15px;
    margin: 2vh;
    padding: 2vh;
    flex: 1;
    transition: .2s;
}
.stopwatchButton.dark{
    background-color: var(--buttonBackgroundColour-Dark);
    color: var(--buttonFontColour-Dark);
}
.stopwatchButton.dark:hover{
    box-shadow: 0 0 1vh var(--switch-hover);
}
.stopwatchButton.disabled{
    opacity: 0.2;
}
.stopwatchButton.disabled:hover{
    box-shadow: 0 0 0px var(--switch-hover);
    -webkit-transition: 0s;
    transition: 0s;
}
.stopwatchButton:hover{
    box-shadow: 0 0 2vh var(--switch-hover);
}

.lapList{
    position: relative;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    align-items: center;
    width: 40%;
    height: 90%;
}

.lap{
    position: relative;
    font-family: Roboto;
    font-weight: normal;
    font-size: 5vh;
    text-align: center;
    color: var(--buttonFontColour-Light);
    transition: 0.2s;
    background-color: var(--buttonBackgroundColour-Light);
    border-radius: 15px;
    margin: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.lap.dark{
    background-color: var(--buttonBackgroundColour-Dark);
    color: var(--buttonFontColour-Dark);
}